.na{
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    background-color: brown;
    
    
}
.home2{
    text-align: center;
    background-color:#f2f2f2;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 125px;
        
        
}

.pp{
    font-size: xx-large;
    padding-left: 200px;
    padding-right: 200px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
  }
  input[type=submit] {
    background-color:brown;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:gray;
  }

  input[type=text],  textarea {
    width: 100%; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  label{
    
      font-size: 30px;
  }

